.hmbnnrbrandtgline{
    color: #42A1DA;
    text-align: center;
    /* font-family: "Lilita One", sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    width: 65%;
    margin: auto;
    margin-top: -7%;
}