.hmbnnrbrandprtlogo img{
   width:28%;
}

.hmbnnrbrandprtlogo{
    width: 85%;
    margin:10% auto;
}

.hmbnnrbrandprtlogo span{
    color: #42A1DA;
}
.hmbnnrbrandprtlogo p{
    color: #000;
}

.hmbnnrbrandprtlogo p, .hmbnnrbrandprtlogo span{
    font-family: "Linden Hill", serif;
    font-size: calc(1vw + 1vh);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    margin-top: 2%;
    text-align: justify;
}

@media screen and (max-width: 575px){
    .hmbnnrbrandtgline {
        font-size: 2.6vw;
        width: 79%;
    }
    .hmbnnrbrandprtlogo img {
        width: 35%;
    }
    .hmbnnrbrandprtlogo p {
        font-size: calc(1.1vw + 1.1vh);
    }
}