@font-face {
  font-family: 'mm1';
  src: url('../fonts/LilitaOne-Regular.ttf') format('ttf');
}

/* src/Header.css */
.header {
  position: relative;
  margin: auto;
  transition: position 0.3s ease-in-out;


}

.hdrdesktop, .hdrboth, .header ,.header .fixed{
  overflow: hidden;
  background-color: #fff;
}



.hdrdesktop {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
  /* background-color: #efe6e640; */
  padding: 2% 5%;
}

.logo {
  width: 10%;
  margin-right: 10%;
}

.logo img {
  width: 100%;
}


.navbar {
  background-color: #000;
  width: 65%;
  border-radius: 50px;
  padding: 0.8% 0;
}


.navbar li {
  list-style: none;
  margin: 0 2.5%;
}

.navbar a {
  font-family: 'mm1';
  text-decoration: none;
  color: #FFF;
  font-size: calc(0.9vw + 0.9vh);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #42a1da;
}

/* styles.css */
.list-button {
  display: block;
  /* Adjust as needed */
  padding: 0;
  /* Disable padding */
}

.list-item {
  background-color: #fff;
  /* Apply background color to list items */
}


.contact-us {
  border: 2px solid #000;
  padding: 0.3% 0.5%;
  display: none;
}

.contact-us a {
  text-decoration: none;
  color: #FFF;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.719vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.header.fixed {
  position: fixed; /* Makes it fixed on scroll */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.hdrmobile {
  display: none;
}

.active {
  color: #fff;
  text-decoration: none;
  font-size: calc(0.9vw + 0.9vh);
  /* font-family: "Lilita One", sans-serif; */
  text-transform: uppercase;
}

.active-menu {
  color: #4fb6eb;
  text-decoration: none;
  font-size: calc(0.6vw + 0.7vh);
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1440px){
  .hdrdesktop {
    width: 100%;
    z-index: 2;
    background-color: #efe6e640;
    padding: 2% 5%;
  }
  #hdrboth{
    background-color: #fff;
  }
}

@media screen and (max-width: 991px) {
  .mobilenavbar {
    position: relative;
  }

  .hdrdesktop {
    display: none;
  }

  .hdrmobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: relative;
    z-index: 2;
    padding: 1% 5%;
  }

  .burgerIcon {
    cursor: pointer;
  }

  .burgerLine {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
  }

  .navMenu {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 200;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0074c4;
    top: 0;
  }

  .closeButton {
    color: #fff;
    font-size: 48px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
  }

  .burgerIcon {
    position: absolute;
    top: 30px;
    right: 36px;
    cursor: pointer;
    z-index: 20;
  }

  .burgerLine {
    width: 90px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .navMenu {
    flex-flow: column wrap;
  }

  .navMenu span {
    list-style: none;
  }

  .navMenu span a {
    color: #fff;
    text-decoration: none;
    font-size: 55px;
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    border-bottom: 1px solid #142d5f;
    transition: 0.2s ease all;
  }

  .navMenu span:last-child a {
    border-bottom: none;
  }

  .navMenu span:hover a {
    background-color: #ff6500;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 13%;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    width: 16%;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    width: 20%;
  }
}



